
body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
  }
  

  header {
    background-color: #673ab7;
    color: white;
    padding: 20px 0;
    position: relative;
    text-align: center;
  }
  
 
  header img.logo {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    height: 60px;
  }
  
  
  .equipo {
    display: inline-block;
    background-color: rgb(239, 255, 218);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 15px;
    padding: 20px;
    text-align: center;
    vertical-align: top;
    border-radius: 10px;
    width: 200px;
    min-height: 750px;
    -webkit-text-stroke: 1px black; /* Añadido */
  }
  
 
  .fundacion {
    font-size: 14px;
    color: #666;
    margin-top: 10px;
  }
  

  .nombre-equipo {
    font-size: 20px;
    margin: 10px 0;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    font-weight: bold;
    background: linear-gradient(90deg, #ff9800, #ff5722); /* color A a color B */
  
  }
  
  
  .equipo img {
    height: 120px;
    margin-bottom: 10px;
    object-fit: contain;
    max-width: 100%;
  }
  

  .estadio {
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    padding: 10px 0;
    margin-top: 10px;
    font-style: italic;
  }
  
 
  .competiciones img {
    height: 50px;
    margin: 5px;
  }
  
 
  .boton-equipo {
    background-color: #673ab7;
    color: white;
    padding: 10px 15px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .boton-equipo:hover {
    background-color: #5e35b1;
  }
  